body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin: auto;
    width: 50vw;
    background-image: linear-gradient(160deg, #292929, #6464ff);
    min-height: 100vh;
}

#box {
    background-color: rgba(160, 160, 160, 0.459);
    border: 4px #00000075  solid;
    border-radius: 50px;
    width: min-content;
    margin: auto;

    transform: rotate3d(0, 1, 0.5, 0deg);
    animation: linear 6s infinite rotation;
}

#optimus {
    height: 55vh;
}

@keyframes rotation {
    from {
        transform: rotate3d(0, 1, 0.5, 0deg);
    }

    to {
        transform: rotate3d(0, 1, 0.2, 360deg);
    }
}